---
import PageLayout from '../../layouts/PageLayout.astro';
import { misc } from '../../data/misc';
---

<PageLayout title="miscellaneous" description="talks, reading notes, side projects.">
  <h1>miscellaneous</h1>
  <p class="byline">talks, reading notes, side projects.</p>

  <ul class="post-list">
    {
      misc.map((item) => (
        <li>
          <span class="date">{item.year}</span>
          <div>
            <div class="title">
              {item.links[0] ? <a href={item.links[0].url}>{item.title}</a> : item.title}
            </div>
            {item.description && <div class="excerpt">{item.description}</div>}
            {item.links.length > 0 && (
              <div class="excerpt">
                {item.links.map((link, index) => (
                  <Fragment>{index > 0 && ' '}&middot; <a href={link.url}>{link.name}</a></Fragment>
                ))}
              </div>
            )}
          </div>
        </li>
      ))
    }
  </ul>

  <a href="/" class="back">&larr; home</a>
</PageLayout>
